.body2 {
	font-family: 'Open Sans', sans-serif;

	background-color: #0e1a24;
	padding-top: 100rem;

	padding: 50rem;

	.inputs{
		padding: 1% 10%;
		border: rgba(122, 146, 165, 0.31) solid;
		margin: 1% auto;
		width: 70%;
	}


.inputsDate{
	margin: 5px  auto ;
}

	table.pageNav  {
		margin:auto;
	}
	main {
		max-width: 1000px;
		margin: 0 auto;
	}

	h1 {
		font-weight: 300;
	}

	.results {
		color: #7a92a5;
		font-size: 12px;
		margin: 12px 5px;
	}

	header {
		width: 100%;
		flex-shrink: 0;
		border-radius: 6px;
		background-color: #fff;
		box-shadow: 0 2px 6px 1px #e1e5e8;
		margin-bottom: 14px;
		display: flex;
		flex-direction: column;
		border: 1px solid #fff;
		padding: 10px 20px;
		position: relative;

		input {
			width: 100%;
			text-overflow: ellipsis;
			display: inline-block;
			color: #20455e;
			font-size: 14px;
			outline: 0;
			transition: border .1s ease;
			resize: none;
			border: 1px solid #b6c1cd;
			border: none;

			&::placeholder  {
				color: #b6c1cd;
			}
		}
	}

	a {
		color: #3899ec;
		cursor: pointer;
		font-weight: 500;
		font-size: 12px;
	}

	.tickets {

		margin: 0;
		padding: 0;

		.ticket {
			width: 100%;
			flex-shrink: 0;
			border-radius: 8px;
			background-color: #fff;
			box-shadow: 0 2px 6px 1px #e1e5e8;
			margin-bottom: 14px;
			display: flex;
			flex-direction: column;
			border: 1px solid #fff;
			padding: 10px 20px;
			transition: box-shadow .2s ease-in-out;
			position: relative;

			&:hover {
				box-shadow: 0 2px 6px 1px #d3d7da;
			}

			.title {
				margin: 15px 0;
				font-size: 16px;
				font-weight: 400;
				font-style: normal;
				color: #20455e;
			}
			.content
			{
				color: #7a92a5;
			}

			footer {

				display: flex;
				justify-content: space-between;

				.meta-data {
					color: #7a92a5;
					font-size: 12px;
					margin: 10px 0;
					flex-shrink: 0;
				}
			}


		}
	}
}
.myButton{
	background-color: rgba(98,124,255,0.51);
	border-radius: 5px;
	padding: 0.5% 0%;
	margin: 0 40%;
}

.myButton:hover{
	background-color: rgba(98, 124, 255, 0.59);
}

.flexWrap {
	display: flex;
	width: 100%;
}

.commentDiv{
	background-color: rgba(98,124,255,0.64);
	padding: 0% 0% 0% 10%;
	width: 250%;
}

.flexCol {
	border: #a1c6ea solid;
	border-radius: 7px;
	box-sizing: border-box;
	padding: 2px 4px;
	background: rgba(179, 235, 255, 0.71);

}

.lableWrapper{
	//width: 80px;
	float: right;
	margin: 0px 10px 0px 00px ;
}


@media only screen and (max-width: 768px) {
	.flexWrap { flex-wrap: wrap; }
	.flexCol { width: 100%; }
}

textarea{
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}

.login-box {
	z-index: 1001;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: rgb(204, 214, 255);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
	border-radius: 10px;
}

.login-box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #000000;
	text-align: center;
}

.addTicketButton{
	background-color: #2e53ff;
	color: #faf8ff;
	width: 200%;
	height: 45px;
	font-size: large;
	box-shadow: 0 4px 8px 3px #e1e5e8;
	border-radius: 5px;
}

.addTicketButton:hover{
	background-color: #5a7aff;
	color: #faf8ff;
	width: 200%;
	height: 45px;
	font-size: large;
	box-shadow: 0 4px 8px 3px #acbae8;
	border-radius: 5px;
}


.login-box .user-box {
	position: relative;
}

.login-box .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #000000;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #5c5c5c;
	outline: none;
	background: transparent;
}

.login-box .user-box label {
	position: absolute;
	top:0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #5267cf;
	pointer-events: none;
	transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
	top: -20px;
	left: 0;
	color: #5267cf;
	font-size: 12px;
}

.login-box form a {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: #5267cf;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: .5s;
	margin-top: 40px;
	letter-spacing: 4px
}

.login-box a:hover {
	background: #5267cf;
	color: #3f51a2;
	border-radius: 5px;
	box-shadow: 0 0 5px #5267cf,
	0 0 25px #5267cf,
	0 0 50px #5267cf,
	0 0 100px #5267cf;
}

.login-box a span {
	position: absolute;
	display: block;
}

.login-box a span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #5267cf);
	animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
	0% {
		left: -100%;
	}
	50%,100% {
		left: 100%;
	}
}

.login-box a span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #5267cf);
	animation: btn-anim2 1s linear infinite;
	animation-delay: .25s
}

@keyframes btn-anim2 {
	0% {
		top: -100%;
	}
	50%,100% {
		top: 100%;
	}
}

.login-box a span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #5267cf);
	animation: btn-anim3 1s linear infinite;
	animation-delay: .5s
}

@keyframes btn-anim3 {
	0% {
		right: -100%;
	}
	50%,100% {
		right: 100%;
	}
}

.login-box a span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #5267cf);
	animation: btn-anim4 1s linear infinite;
	animation-delay: .75s
}

@keyframes btn-anim4 {
	0% {
		bottom: -100%;
	}
	50%,100% {
		bottom: 100%;
	}
}
